
#tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tab button {
    margin: 3px;
    padding: 0;
    color: black;
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: larger;
    font-weight: bolder;
    border-bottom: solid black 3px;
    border-radius: 0;
    white-space: nowrap;
}

#store-content {
    background-color: gray;
    min-height: 45vh;
    max-height: 45vh;
    overflow-y: scroll
}

#bottom-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 50px
}

.coins {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    min-height: 30px;
    max-height: 30px;
}

.coins span {
    font-size: x-large;
    background-color: goldenrod;
    border-radius: 50%;
    padding: 0;
}

#done {
    color: white;
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: x-large;
    /* font-weight: bolder; */
    background-color: rgb(187, 0, 0);
    min-height: 30px;
    max-height: 30px;
}

/*----------------------*/

.itemforsale {
    max-width: 90px;
    max-height: 65px;
    min-width: 90px;
    min-height: 65px;
}

.imgandtitle {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.title {
    font-size: x-large;
    text-align: center;
    justify-content: space-around;
    min-width: 90px;
    white-space: nowrap;
}

.priceandpurchase {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.price {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    min-height: 30px;
    max-height: 30px;
    text-align: right;
    margin-right: 10px;
    width: 90px
}

.price span {
    font-size: x-large;
    background-color: goldenrod;
    border-radius: 50%;
    padding: 0;
}

#purchase {/*For some reason class/className doesnt work for this one, only id*/
    color: rgb(0, 73, 0);
    background-color: rgb(34, 199, 19);
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    border: solid black 3px;
    min-height: 30px;
    max-height: 30px;
    margin-right: 5px;
}

#clickbait {
    color: black;
    align-self: center;
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: xxx-large;
    font-weight: bolder;
    min-height: 50px;
    max-height: 50px;
    text-align: center;
    margin-bottom: 20px;
    width: 160px;
    border: solid black 3px;
}

#cents {
    font-size: x-large;
    background-color: goldenrod;
    border-radius: 50%;
    padding: 0;
}

.alreadyowned {
    display: flex;
    font-size: 50px;
    text-align: center;
    align-items: center;
    opacity: 0.75;
    line-height: 0.8;
}

.alreadyowned span {
    font-weight: bolder;
}