#customized-dialog-title {
    /* width: 90vw */
}

#tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tab button {
    margin: 3px;
    padding: 0;
    color: black;
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: larger;
    font-weight: bolder;
    border-bottom: solid black 3px;
    border-radius: 0;
    min-width: 69px;
}

#store-content {
    background-color: gray;
    min-height: 45vh;
    max-height: 45vh;
}

#bottom-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 50px
}

.coins {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    min-height: 30px;
    max-height: 30px;
}

.coins span {
    font-size: x-large;
    background-color: goldenrod;
    border-radius: 50%;
    padding: 0;
}

#done {
    color: black;
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    background-color: rgb(34, 199, 19);
    min-height: 30px;
    max-height: 30px;
}

/*----------------------*/

.itemforsale {
    padding: 0;
    cursor: pointer;
    background-color: white;
    border: solid black 3px;
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.titleandprice {
    display: flex;
    align-items: center;
}

.title {
    font-size: x-large;
}

#purchase {
    color: rgb(34, 199, 19);
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    background-color: white;
    border: solid black 3px;
    min-height: 30px;
    max-height: 30px;
}

/* .dots {
    font-size: xx-large;
    max-width: 50%;
} */

/* @media screen and (max-width = 400px) {
    .dots {
        color:red
    }
} */