.carousel-track {
    min-height: 54px;
}

.carousel-item {
    text-align: center;
    margin-top: 7px;
    transition: margin-top 0.2s
}

.carousel-item button {
    max-width: 40px!important;
    max-height: 40px!important;
    min-width: 40px!important;
    min-height: 40px!important;
    transition: max-width 0.2s, max-height 0.2s, min-width 0.2s, min-height 0.2s;
}

.active {
    margin-top: 2px;
    transition: margin-top 0.2s
}

.active button {
    max-width: 50px!important;
    max-height: 50px!important;
    min-width: 50px!important;
    min-height: 50px!important;
    transition: max-width 0.2s, max-height 0.2s, min-width 0.2s, min-height 0.2s;
}

.body {
    transition: height 0.2s, object-position 0.2s;
}

.eyes {
    transition: height 0.2s, object-position 0.2s;
}

.nose {
    transition: height 0.2s, object-position 0.2s;
}

.active .body {
    height: 42px!important;
    object-position: -1% center;
    transition: height 0.2s, object-position 0.2s;
}

.active .eyes {
    height: 100px!important;
    object-position: 0.69% 8px!important;
    transition: height 0.2s, object-position 0.2s;
}

.active .nose {
    height: 90px!important;
    object-position: 45% -2px!important;
    transition: height 0.2s, object-position 0.2s;
}

.carousel-arrow {
    filter: grayscale(1)
}