@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: large;
    overflow: hidden;
    margin: 0;
    user-select: none;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 10px;
    scrollbar-color: rgb(73, 73, 73);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(73, 73, 73);
    border-radius: 10px;
    /* border: 3px solid #ffffff; */
  }

#rascalCanvas { 
    z-index: -1;
    position: fixed;
    top: -200%;
    left: -200%;
    height: 500%;
    width: 500%;
    object-fit: contain;
}