@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: large;
    overflow: hidden;
    margin: 0;
    user-select: none;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 10px;
    scrollbar-color: rgb(73, 73, 73);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(73, 73, 73);
    border-radius: 10px;
    /* border: 3px solid #ffffff; */
  }

  body {
    background-image: radial-gradient(rgba(255, 254, 180, 0.9) 20%, transparent 25%),
        radial-gradient(rgba(255, 228, 228, 0.452) 20%, transparent 25%);
    background-color: rgba(250, 253, 255, 0.719);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    /* animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
 }  

 #tutorial-content {
  min-height: 55vh;
  max-height: 75vh;
  min-width: 40vw;
  /* max-width: fit-content; */
  overflow-y: scroll;
  margin-right:0;
  margin-left:0;
  background-color: transparent;
  text-align: center;
 }

 #tutorial-carousel {
   max-width:fit-content;
   min-width:35vw;
   height:100%;
   /* margin-right:auto;
  margin-left:auto; */
  background-color: transparent;
  text-align: center;
  
 }
 

 .tutorial-items {
   min-height: 55vh;
   min-width: 35vw;
   height:100%;
   max-width:fit-content;
   margin-right:auto;
  margin-left:auto;
  text-align: center;
  background-color: transparent;
  overflow-y: scroll;
 }

 .tutorial-items div img {
   max-height:250px;
   max-width: 250px;
 }


  /* @keyframes anim {
    0% {
      background-image: radial-gradient(rgba(84, 143, 151, 0.9) 20%, transparent 25%),
      radial-gradient(rgba(207, 189, 82, 0.452) 20%, transparent 25%);
    }
    50% {
      background-image: radial-gradient(rgba(84, 143, 151, 0.9) 40%, transparent 50%),
      radial-gradient(rgba(207, 189, 82, 0.452) 40%, transparent 50%);
    }
  } */


#rascalCanvas { 
    z-index: -1;
    position: fixed;
    top: -200%;
    left: -200%;
    height: 500%;
    width: 500%;
    object-fit: contain;
}

