* {
    overflow: hidden;
}

#canvas_container {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    height: 100%;/*TODO - make this 100% but fix mouse tracking issues*/
    width: 100%;/*TODO - make this 100% but fix mouse tracking issues*/
    border: solid black 3px;
}

canvas {
    background-color: red;
}